i {
    font-size: 42px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.sidebar {
    color: white;
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display:flex;
    justify-content: right;
    flex-direction: column;
    background-color: teal;
    border: white;
    align-items: flex-start;
    padding: 14px;
    overflow-y: scroll;
    border-right: solid rgba(255, 255, 255, 0.37) 4px;
  }

.inputs {
    display: block;
}

.toggle-button {
    background-color: teal;
    border: white;
}

.sidebar-text-box {
    display: flex;
    flex-direction: column;
}

.expanded {
    width: 400px;
}

.hidden {
    display: none;
}

.arrow:hover {
    border: solid 2px teal;
    background: -webkit-linear-gradient(#0ba360, #ffffff, #30dd8a, #f2fff9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .25s ease-in-out;
}
