.product-card {
    padding: 18px;
    margin: 14px 4px;
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 430px;
    background-color: white;
    overflow: scroll;
}

.product-image {
    object-fit:cover;
    width: auto;
    height: 100%;
    margin: 0px;
}

.media {
    height: 68%;
    display: flex;
    justify-content: center;
}

.product-name {
    font-weight: bold;
    font-size: 18px;
}

.cart-button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    object-fit:fill;
    width: 24px;
    height: 24px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: teal;
    cursor: pointer;

}

.cart-button:hover {
    box-shadow: 2px 2px rgb(0, 65, 65);
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    transition: all .4s ease-in-out;
}

.product-title-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price-quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.card-fill-screen {
    width: 100%;
    justify-content: center;
    height: 42vw;
    border-radius: 20px;
    box-shadow: 6px 6px rgba(0, 128, 128, 0.616);
    border: solid 2px rgba(0, 128, 128, 0.616);
}

.product-card-quantity {
    background-color: rgba(23, 168, 108, 0.75);
    color: white;
    font-weight: bold;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
