.checkout-form {
    display:flex;
    flex-direction: column;
}

label {
    display: flex;
    justify-content: space-around;
}

.checkout-form-label{
    margin: 4px;
}

.checkout-button{
    margin-top: 20px;

    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    height: 44px;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.checkout-button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.checkout-button:focus {
    outline: none;
}
